<!DOCTYPE html>
<html>

<head>
    <title>Log Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='log.css') }}">  <!-- Thêm dòng này để liên kết đến file CSS -->
</head>

<body>
    <h1>Log Data</h1>
    <table>
        <thead>
            <tr>
                <th class="small-column">Message ID</th>
                <th class="small-column">Modified Date</th>
                <th class="small-column">Phone Number</th>
                <th>Data (English)</th>
                <th>Data (Vietnamese)</th>
                <th class="edit-column">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for entry, instruction in log_data_instruction %}
            <tr>
                <td class="small-column">{{ entry.message_id }}</td>
                <td class="small-column">{{ entry.modified_date }}</td>
                <td class="small-column">{{ entry.phone_number }}</td>
                <td>
                    <div class="input-container">
                        <div class="input-title">Instruction:</div>
                        <textarea disabled class="textarea_height_10" type="text" value="{{ instruction.instruction_en }}">{{ instruction.instruction_en }}</textarea>
                    </div>
                    <div class="input-container">
                        <div class="input-title">Input:</div>
                        <textarea disabled type="text" value="{{ instruction.input_en }}">{{ instruction.input_en }}</textarea>
                    </div>
                    <div class="input-container">
                        <div class="input-title">Output:</div>
                        <textarea disabled class="textarea_height_20" type="text" value="{{ instruction.output_en }}">{{ instruction.output_en }}</textarea>
                    </div>
                </td>
                <td>
                    <div class="input-container">
                        <div class="input-title">Instruction:</div>
                        <textarea class="textarea_height_10" type="text" value="{{ instruction.instruction_vi }}">{{ instruction.instruction_vi }}</textarea>
                    </div>
                    <div class="input-container">
                        <div class="input-title">Input:</div>
                        <textarea type="text" value="{{ instruction.input_vi }}">{{ instruction.input_vi }}</textarea>
                    </div>
                    <div class="input-container">
                        <div class="input-title">Output:</div>
                        <textarea class="textarea_height_20" type="text" value="{{ instruction.output_vi }}">{{ instruction.output_vi }}</textarea>
                    </div>
                </td>
                <td class="edit-column">
                    <button class="save-button">Save</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
