<!DOCTYPE html>
<html>

<head>
    <title>Log Data</title>
</head>

<body>
    <h1>Log Data</h1>
    <table>
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Modified Date</th>
                <th>Phone Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log_data %}
            <tr>
                <td>{{ entry.message_id }}</td>
                <td>{{ entry.modified_date }}</td>
                <td>{{ entry.phone_number }}</td>
                <td>{{ entry.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
