<!DOCTYPE html>
<html>

<head>
    <title>Random Sample Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <div class="user-info">
            {% if logged_in %}
            <p>Hello user, {{ phone_number }}</p>
            {% endif %}
        </div>
        <div class="logout-btn">
            {% if logged_in %}
            <a href="{{ url_for('login') }}">Log out</a>
            {% endif %}
        </div>
    </header>
    <h1>Random Sample Data</h1>
    <form method="post" action="/main" id="main_form">
        <div class="container">
            <div class="main-column">
                {% if data %}
                <div class="label-row">
                    <div class="label-left">
                        <label for="message_id">Message ID:</label>
                        <input type="text" id="message_id" name="message_id" value="{{ data.message_id }}" readonly>
                    </div>
                </div>

                <div class="label-row">
                    <div class="label-left">
                        <label for="instruction">Instruction:</label>
                        <textarea class="textarea_height" type="text" id="instruction" name="instruction"
                            readonly>{{ data.instruction }}</textarea>
                    </div>
                    <div class="label-right">
                        <label for="instruction_vi">Instruction (Vietnamese):</label>
                        <textarea class="textarea_height" type="text" id="instruction_vi"
                            name="instruction_vi">{{ data_vi.instruction_vi }}</textarea>
                    </div>
                </div>

                <div class="label-row">
                    <div class="label-left">
                        <label for="input">Input:</label>
                        <textarea id="input" name="input" rows="4" readonly>{{ data.input }}</textarea>
                    </div>
                    <div class="label-right">
                        <label for="input_vi">Input (Vietnamese):</label>
                        <textarea id="input_vi" name="input_vi" rows="4">{{ data_vi.input_vi }}</textarea>
                    </div>
                </div>

                <div class="label-row">
                    <div class="label-left">
                        <label for="output">Output:</label>
                        <textarea class="textarea_height" id="output" name="output" rows="4"
                            readonly>{{ data.output }}</textarea>
                    </div>
                    <div class="label-right">
                        <label for="output_vi">Output (Vietnamese):</label>
                        <textarea class="textarea_height" id="output_vi" name="output_vi"
                            rows="4">{{ data_vi.output_vi }}</textarea>
                    </div>
                </div>
                {% else %}
                <p>No data available</p>
                {% endif %}
                <div class="centered-buttons">
                    <!-- Thêm button "Save" -->
                    <button type="submit" form="main_form" name="save_button" value="save">Save</button>
                    <!-- Thêm button "Log" -->
                    <a href="{{ url_for('log') }}" class="log-button">Log</a>
                </div>
            </div>
        </div>
    </form>
</body>

</html>